.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: white;
  padding: 40px 0px;
  gap: 40px;
  overflow: scroll;
}

.card-container {
  max-width: 595px;
  width: 100%;
  height: 408px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.3);
  height: auto;
}

.edit-question-text {
  color: #979797;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 159.5%;
}

.add-question-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.09px;
  margin-top: 20px;
}
